.histogram {
    width: 100%;
    height: 200px;
    display: flex;
    flex-flow: row wrap;
}

.histogram-bar-area {
    height: 80%;
    width: 100%;
    background-color: var(--background-medium);
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
}

bar {
    flex: 1;
}

bar:nth-child(odd) {
    background-color: var(--accent-dark);
}

bar:nth-child(even){
    background-color: var(--accent-medium);
}